.grey-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-color: #DADADA;
}

.page-center {
  height: 100%;
}


.form-small {
  max-width: 450px;
}


.center-table {
  max-width: 90%;
  margin: 0 auto;
}

.invisible {
  visibility: hidden;
}

.form-large {
  max-width: 520px;
}

.left-text {
  text-align: left !important;
}

.extra-padding {
  padding: 1.5em !important;
}
